body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 60px;
    text-align: left;

}

span {
    color: orange;
}

h3 {
    font-weight: 100;
}

.hero-section {
    display: flex;
    padding: 5% 5% 1px;
}

.hero-section div {
    width: 50%;

}

.hero-section div img {
    width: 100%;
}

.hero-section #first-div {
    padding-top: 5%;

}



.button {
    text-decoration: none;
    background-color: tomato;
    padding: 20px 40px;
    border-radius: 50px;
    color: white;
    font-size: 15px;
    box-shadow: 0 0 20px rgba(255, 255, 133, 0.781);
    border: none;
    display: inline-block;
    margin-top: 30px;

}